a,
.tp-caption a.btn:hover {
    color: #4c174c;
}
.top-nav-collapse {
    background: #0000;
}

@media (max-width: 768px) {
    .navbar,
    .navbar-nav {
        background: #4c174c;
    }

    .navbar-nav a {
        color: #fff !important;
    }
}

.navbar-custom ul.nav ul.dropdown-menu li a:hover {
    color: #4c174c;
}

.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span {
    background-color: #4c174c;
}

.widget-avatar .avatar:hover {
    border: 5px solid #67b0d1;
}

.bg-skin {
    background: #4c174c;
}

form#contact-form input:focus,
form#contact-form select:focus,
form#contact-form textarea:focus {
    border-color: #67b0d1;
}

footer {
    background-color: #4c174c;
}

.btn-skin {
    color: #fff;
    background-color: #67b0d1;
    border-color: #67b0d1;
}
